<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ТСЖ</a>
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                    {% if user.is_tszh_member or user.is_resident %}
                    <a class="nav-link" href="{% url 'forum' %}">Форум</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
