{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3>Создать новый пост</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ post_form.as_p }}

        <div id="poll-section" style="display: none;">
            <h5>Добавить голосование</h5>
            {{ poll_form.as_p }}
        </div>

        <button type="button" class="btn btn-sm btn-outline-secondary mb-3"
                onclick="document.getElementById('poll-section').style.display = 'block'">
            Добавить голосование
        </button>

        <div>
            <button type="submit" name="save_post" class="btn btn-primary">Опубликовать</button>
        </div>
    </form>
</div>
{% endblock %}